<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Agendamento</title>
    <style>
        table, th, td {
          border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1 align="center"><a href="/">Menu</a></h1>
    <br>
    <div align="center">
        <form th:action="@{/agenda/agendar}" th:object="${agenda}" method="POST" id="formAgenda">
            <table>
                <tr>
                    <td>Id:</td>
                    <td><span th:text="${agenda.id}"></span></td>
                    <input type="hidden" th:value="${agenda.id}" th:field="${agenda.id}" name="id"/>
                </tr>
                <tr>
                    <td>Salão:</td>
                    <td><span th:text="${agenda.salao.nome}"></span></td>
                    <input type="hidden" th:value="${agenda.salao.nome}" th:field="${agenda.salao.nome}" name="salao"/>
                </tr>
                <tr>
                    <td>Cliente: </td>
                    <td>
                        <select name="cliente" required>
                            <option value="">Escolha um Cliente</option>
                            <option th:each="cliente : ${clientes}"
                                    th:value="${cliente.id}"
                                    th:text="${cliente.nome}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Funcionário: </td>
                    <td>
                        <select name="funcionario" required>
                            <option value="">Escolha um Funcionário</option>
                            <option th:each="funcionario : ${funcionarios}"
                                    th:value="${funcionario.id}"
                                    th:text="${funcionario.nome}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Data:</td>
                    <td><input type="date" name="date" required/></td>
                </tr>
                <tr>
                    <td>Hora:</td>
                    <td><input type="time" name="hour" required/></td>
                </tr>
            </table>
            <br><br>
            <div>
                <input type="reset" value="Resetar"/>
                <input type="submit" value="Atualizar"/>
            </div>
    </div>
</body>
</html>