<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Template</title>
    <style>
        table, th, td {
          border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1 align="center"><a href="/">Menu</a></h1>
    <br>
    <div align="center">
        <h1>Agendamento</h1>
        <form th:action="@{/agenda/agendar}" th:object="${agenda}" method="POST">
            <table>
                <tr>
                    <td>Cliente: </td>
                    <td>
                        <select name="cliente" required>
                            <option value="">Escolha um Cliente</option>
                            <option th:each="cliente : ${clientes}"
                                    th:value="${cliente.id}"
                                    th:text="${cliente.nome}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Funcionário: </td>
                    <td>
                        <select name="funcionario" required>
                            <option value="">Escolha um Funcionário</option>
                            <option th:each="funcionario : ${funcionarios}"
                                    th:value="${funcionario.id}"
                                    th:text="${funcionario.nome}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Data:</td>
                    <td><input type="date" name="date"  min="2000-01-02"  max="2100-12-31" required/></td>
                </tr>
                <tr>
                    <td>Hora:</td>
                    <td><input type="time" name="hour" required/></td>
                </tr>
            </table>
            <p style="color:red" th:text="${erro}"></p>
            <div>
                <input type="submit" value="Agendar"/>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div align="center">
        <table>
            <h1>Agendamentos</h1>
        
            <tr>
                <th>Id</th>
                <th>Data e Hora</th>
                <th>Cliente</th>
                <th>Funcionário</th>
            </tr>
        
            <tr th:each="agenda : ${agendas}">
                <td th:text="${agenda.id}"></td>
                <td th:text="${agenda.data}"></td>
                <td th:text="${agenda.cliente?.nome}"></td>
                <td th:text="${agenda.funcionario?.nome}"></td>
                <td><a th:href="@{'/agenda/editar?agenda_id=' + ${agenda.id}}">Editar</a></td>
                <td><a th:href="@{'/agenda/remove?agenda_id=' + ${agenda.id}}">Remover</a></td>
            </tr>
        </table>
    </div>
</body>
</html>