<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Template</title>
    <style>
        table, th, td {
          border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1 align="center"><a href="/">Menu</a></h1>
    <br>
    <div align="center">
        <h1>Cadastro</h1>
        <form th:action="@{/cliente/cadastrar}" th:object="${cliente}" method="POST">
            <table>
                <tr>
                    <td>Nome:</td>
                    <td><input type="text" name="nome" required/></td>
                </tr>
                <tr>
                    <td>CPF:</td>
                    <td><input type="text" name="cpf" required/></td>
                </tr>
                <tr>
                    <td>Telefone:</td>
                    <td><input type="text" name="telefone" required/></td>
                </tr>
            </table>
            <br><br>
            <div>
                <input type="submit" value="Cadastrar"/>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div align="center">
        <table>
            <h1>Clientes</h1>
        
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
            </tr>
        
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.telefone}"></td>
                <td><a th:href="@{'/cliente/editar?cliente_id=' + ${cliente.id}}">Editar</a></td>
                <td><a th:href="@{'/cliente/remove?cliente_id=' + ${cliente.id}}">Remover</a></td>
            </tr>
        </table>
    </div>
</body>
</html>