<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Funcionário</title>
    <style>
        table, th, td {
          border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1 align="center"><a href="/">Menu</a></h1>
    <br>
    <div align="center">
        <form th:action="@{/funcionario/cadastrar}" th:object="${funcionario}" method="POST" id="formFuncionario">
            <table>
                <tr>
                    <td>Id:</td>
                    <td><span th:text="${funcionario.id}"></span></td>
                    <input type="hidden" th:value="${funcionario.id}" th:field="${funcionario.id}" name="id"/>
                </tr>
                <tr>
                    <td>Nome:</td>
                    <td><input type="text" name="nome" required/></td>
                </tr>
                <tr>
                    <td>CPF:</td>
                    <td><input type="text" name="cpf" required/></td>
                </tr>
                <tr>
                    <td>Telefone:</td>
                    <td><input type="text" name="telefone" required/></td>
                </tr>
                <tr>
                    <td>Salão: </td>
                    <td>
                        <select name="salao" required>
                            <option value="">Escolha um Salão</option>
                            <option th:each="salao : ${saloes}"
                                    th:value="${salao.id}"
                                    th:text="${salao.nome}">
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
            <br><br>
            <div>
                <input type="reset" value="Resetar"/>
                <input type="submit" value="Atualizar"/>
            </div>
    </div>
</body>
</html>